# Collections

### Lists

In [1]:
# city1 = 'Tokyo'
# city2 = 'Dakar'
# city3 = 'Mumbai'
# city4 = 'Buenos Aires'

cities = [
    'Tokyo',
    'Dakar',
    'Mumbai',
    'Buenos Aires',
]

### Dictionary

In [2]:
# Collection of key-value pairs

food = {
    'appetizer': 'hummus',
    'entree': 'gyro wraps',
    'desert': 'baklava',
}

## Working with Collections

### Indexing a List

In [3]:
cities[0]

'Tokyo'

In [4]:
cities[5] #out of range index

IndexError: list index out of range

In [5]:
cities[-1] #indexing in reverse order

'Buenos Aires'

### Referencing Labels in a Dictionary

In [6]:
food['desert']

'baklava'

### Example

In [7]:
stars = [
    'Sol',
    'Alpha Centauri',
    'Barnard',
    'Wolf 359',
]

print('The fourth nearest star is ', stars[3])

peaks = {
    'African' : 'Kilimanjaro',
    'Antarctic' : 'Vinson',
    'Australian' : 'Puncak Jaya',
    'Eurasian' : 'Everest',
    'North_American' : 'Denali',
    'Pacific' : 'Mauna Kea',
    'South_American' : 'Aconcagua',
}

print('The highest peak on the Pacific plate is ', peaks['Pacific'])

The fourth nearest star is  Wolf 359
The highest peak on the Pacific plate is  Mauna Kea

## Working with Iterations

### Iterating through Collections

In [8]:
spices = [
    'salt',
    'pepper',
    'cumin',
    'turmeric',
]

for spice in spices:
    print(spice)

salt
pepper
cumin
turmeric

### Iterating through Collections with Custom Endpoint

In [9]:
i = 5
while i<= 100:
    print(i)
    i+=5

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### Example

In [10]:
fruits = [
    'apples',
    'bananas',
    'dragon fruit',
    'mangos',
    'nectarines',
    'pears',
]

print('Our fruit selection')
for fruit in fruits:
    print(fruit)

Our fruit selection
apples
bananas
dragon fruit
mangos
nectarines
pears

## Using External Code

### Modules

In [11]:
### 1. create file 'testmodule.py' with the following code:
###    def mult(x, y):
###      print(f'{x} * {y} = {x * y}')

### 2. in same file directory, create 'app.py' with the following code:
###    import testmodule
###    testmodule.mult(10,5)

In [12]:
### For external Python packages, check out pypi.org

## Working with Strings

#### Combining and Manipulating Strings

In [13]:
### Concatenation
print('Cat'+'Dog')

CatDog

In [17]:
value = input('Enter a number: ')
print(value + ' is my favorite number!')
print('When you multiply it by 10, this is what you get:')
print(value*10)
value_int = int(value)
print('When you multiply it by 10 after changing to integer type, this is what you get:')
print(value_int*10)

Enter a number: 20
20 is my favorite number!
When you multiply it by 10, this is what you get:
20202020202020202020
When you multiply it by 10 after changing to integer type, this is what you get:
200

#### Finding patterns

In [19]:
first_name = 'malala'
last_name = 'yousafzai'
note = 'award: Nobel Peace Prize'

first_name_cap = first_name.capitalize()
last_name_cap = last_name.capitalize()

print(first_name_cap)
print(last_name_cap)

Malala
Yousafzai

In [21]:
award_location = note.find('award: ')
print(award_location)

0

In [22]:
### Slicing
award_text = note[7:]
print(award_text)

Nobel Peace Prize

#### Regular Expressions

In [24]:
import re

five_digit_zip = '98101'
nine_digit_zip = '98101-0003'
phone_number = '234-567-8901'

five_digit_expression = r'\d{5}'
print(re.search(five_digit_expression, five_digit_zip))
print(re.search(five_digit_expression, nine_digit_zip))
print(re.search(five_digit_expression, phone_number))

<re.Match object; span=(0, 5), match='98101'>
<re.Match object; span=(0, 5), match='98101'>
None

#### Example

In [1]:
miles = input('Enter a distance in miles: ')
miles_value = float(miles)
kilometers_value = miles_value * 1.609344
print('That is equal to ', kilometers_value, ' kilometers.')

Enter a distance in miles: 123
That is equal to  197.94931200000002  kilometers.

## Input and Output